requests
uvicorn
fastapi
python-dotenv
python-multipart
openai
langchain_xai
chainlit
PyPDF2
python-docx
langchain
langchain_community
pydantic
pydantic_core
pydantic_settings
prometheus_client
prometheus_fastapi_instrumentator
